<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- simplest bean definition -->
	<!--	<bean id="beanName" class="cc.notalk.foo.bean.Bean"/>-->

	<!-- simplest bean definition  with constructor-arg-->
	<bean id="beanName" class="cc.notalk.foo.bean.Bean">
		<constructor-arg value="1"/>
		<constructor-arg value="2"/>
	</bean>

	<beans profile="zz">
		<bean id="beanNameAtZZProfile" class="cc.notalk.foo.bean.Bean">
		</bean>
	</beans>
</beans>